<a href="https://colab.research.google.com/github/yawarabbasmalik/yawarabbasmalik/blob/main/COVID19_ML_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importing Required Python Framworks

In [1]:
#loading dataset
import pandas as pd
import numpy as np
# data preprocessing
from sklearn.preprocessing import StandardScaler
# data splitting
from sklearn.model_selection import train_test_split
# data modeling

from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.pipeline import Pipeline
from pandas import *
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import KFold
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn import model_selection
from sklearn import tree
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import make_scorer
from sklearn.model_selection import cross_validate
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn import metrics
from sklearn.metrics import make_scorer

### Loading the Dataset and Printing

In [2]:
df = pd.read_csv("/content/covid_19_indonesia_time_series_all.csv")
df.head()

,Date,Location ISO Code,Location,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,...,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,Case Fatality Rate,Case Recovered Rate,Growth Factor of New Cases,Growth Factor of New Deaths
0,3/1/2020,ID-JK,DKI Jakarta,2,0,0,2,39,20,41,...,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,105.13%,NaN,NaN
1,3/2/2020,ID-JK,DKI Jakarta,2,0,0,2,41,20,41,...,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,100.00%,1.0,1.0
2,3/2/2020,IDN,Indonesia,2,0,0,2,2,0,0,...,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN,NaN
3,3/2/2020,ID-RI,Riau,1,0,0,1,2,0,3,...,0.511648,0.16,0.33,0.0,0.00,0.00,0.00%,150.00%,NaN,NaN
4,3/3/2020,ID-JK,DKI Jakarta,2,0,0,2,43,20,41,...,-6.204699,0.18,3.96,0.0,1.84,0.18,46.51%,95.35%,1.0,1.0

In [3]:
# Confirming the number of records & data type of each attribute

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21759 entries, 0 to 21758
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         21759 non-null  object
 1   Location ISO Code            21759 non-null  object
 2   Location                     21759 non-null  object
 3   New Cases                    21759 non-null  int64
 4   New Deaths                   21759 non-null  int64
 5   New Recovered                21759 non-null  int64
 6   New Active Cases             21759 non-null  int64
 7   Total Cases                  21759 non-null  int64
 8   Total Deaths                 21759 non-null  int64
 9   Total Recovered              21759 non-null  int64
 10  Total Active Cases           21759 non-null  int64
 11  Location Level               21759 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     21117 non-null  object
 14  Country                      21759 non-null  object
 15  Continent                    21759 non-null  object
 16  Island                       21117 non-null  object
 17  Time Zone                    21117 non-null  object
 18  Special Status               3123 non-null   object
 19  Total Regencies              21759 non-null  int64
 20  Total Cities                 21145 non-null  float64
 21  Total Districts              21759 non-null  int64
 22  Total Urban Villages         21142 non-null  float64
 23  Total Rural Villages         21117 non-null  float64
 24  Area (km2)                   21759 non-null  int64
 25  Population                   21759 non-null  int64
 26  Population Density           21759 non-null  float64
 27  Longitude                    21759 non-null  float64
 28  Latitude                     21759 non-null  float64
 29  New Cases per Million        21759 non-null  float64
 30  Total Cases per Million      21759 non-null  float64
 31  New Deaths per Million       21759 non-null  float64
 32  Total Deaths per Million     21759 non-null  float64
 33  Total Deaths per 100rb       21759 non-null  float64
 34  Case Fatality Rate           21759 non-null  object
 35  Case Recovered Rate          21759 non-null  object
 36  Growth Factor of New Cases   20572 non-null  float64
 37  Growth Factor of New Deaths  19292 non-null  float64
dtypes: float64(14), int64(12), object(12)
memory usage: 6.3+ MB

In [4]:
df.shape

(21759, 38)

In [5]:
# Removing the duplicates if existing
df=df.drop_duplicates()

In [6]:
df.shape

(21759, 38)

The above results show that there exists **422** duplicate value in this dataset

In [7]:
#Finding Missing Values in all columns of dataframe

df.isnull().sum()

Date                               0
Location ISO Code                  0
Location                           0
New Cases                          0
New Deaths                         0
New Recovered                      0
New Active Cases                   0
Total Cases                        0
Total Deaths                       0
Total Recovered                    0
Total Active Cases                 0
Location Level                     0
City or Regency                21759
Province                         642
Country                            0
Continent                          0
Island                           642
Time Zone                        642
Special Status                 18636
Total Regencies                    0
Total Cities                     614
Total Districts                    0
Total Urban Villages             617
Total Rural Villages             642
Area (km2)                         0
Population                         0
Population Density                 0
Longitude                          0
Latitude                           0
New Cases per Million              0
Total Cases per Million            0
New Deaths per Million             0
Total Deaths per Million           0
Total Deaths per 100rb             0
Case Fatality Rate                 0
Case Recovered Rate                0
Growth Factor of New Cases      1187
Growth Factor of New Deaths     2467
dtype: int64

In [8]:
# We are droping those columns that contains high amount of null values

df =  df.dropna(axis=1)
df.shape

(21759, 28)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21759 entries, 0 to 21758
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      21759 non-null  object
 1   Location ISO Code         21759 non-null  object
 2   Location                  21759 non-null  object
 3   New Cases                 21759 non-null  int64
 4   New Deaths                21759 non-null  int64
 5   New Recovered             21759 non-null  int64
 6   New Active Cases          21759 non-null  int64
 7   Total Cases               21759 non-null  int64
 8   Total Deaths              21759 non-null  int64
 9   Total Recovered           21759 non-null  int64
 10  Total Active Cases        21759 non-null  int64
 11  Location Level            21759 non-null  object
 12  Country                   21759 non-null  object
 13  Continent                 21759 non-null  object
 14  Total Regencies           21759 non-null  int64
 15  Total Districts           21759 non-null  int64
 16  Area (km2)                21759 non-null  int64
 17  Population                21759 non-null  int64
 18  Population Density        21759 non-null  float64
 19  Longitude                 21759 non-null  float64
 20  Latitude                  21759 non-null  float64
 21  New Cases per Million     21759 non-null  float64
 22  Total Cases per Million   21759 non-null  float64
 23  New Deaths per Million    21759 non-null  float64
 24  Total Deaths per Million  21759 non-null  float64
 25  Total Deaths per 100rb    21759 non-null  float64
 26  Case Fatality Rate        21759 non-null  object
 27  Case Recovered Rate       21759 non-null  object
dtypes: float64(8), int64(12), object(8)
memory usage: 4.8+ MB

In [10]:
df = df.drop(['Date'], axis=1)

In [11]:
#Dropping Date column as we are not working on timeseries data.

df = df.drop(['Location ISO Code','Location', 'Location Level', 'Country', 'Continent', 'Case Fatality Rate', 'Case Recovered Rate'], axis=1)
df.head()

,New Cases,New Deaths,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Total Regencies,Total Districts,Area (km2),Population,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb
0,2,0,0,2,39,20,41,-22,1,44,664,10846145,16334.31,106.836118,-6.204699,0.18,3.60,0.0,1.84,0.18
1,2,0,0,2,41,20,41,-20,1,44,664,10846145,16334.31,106.836118,-6.204699,0.18,3.78,0.0,1.84,0.18
2,2,0,0,2,2,0,0,2,416,7230,1916907,265185520,138.34,113.921327,-0.789275,0.01,0.01,0.0,0.00,0.00
3,1,0,0,1,2,0,3,-1,10,169,87024,6074100,69.80,101.805109,0.511648,0.16,0.33,0.0,0.00,0.00
4,2,0,0,2,43,20,41,-18,1,44,664,10846145,16334.31,106.836118,-6.204699,0.18,3.96,0.0,1.84,0.18

In [12]:
df.shape

(21759, 20)

In [13]:
# SPLIT DATA
X = df.drop('New Deaths', axis = 1)
y = df['New Deaths']

In [14]:
scaler = MinMaxScaler() 
df1 = scaler.fit_transform(X)

In [15]:
df_scaled = pd.DataFrame(df1, columns=X.columns,index=X.index)
print(df_scaled)

       New Cases  New Recovered  New Active Cases   Total Cases  Total Deaths  \
0       0.000035       0.000000          0.411955  8.925967e-06      0.000139
1       0.000035       0.000000          0.411955  9.395754e-06      0.000139
2       0.000035       0.000000          0.411955  2.348939e-07      0.000000
3       0.000018       0.000000          0.411939  2.348939e-07      0.000000
4       0.000035       0.000000          0.411955  9.865542e-06      0.000139
...          ...            ...               ...           ...           ...
21754   0.000035       0.000000          0.411955  8.154105e-03      0.007341
21755   0.000070       0.000000          0.411987  2.110474e-02      0.014959
21756   0.000070       0.000000          0.411987  1.407860e-02      0.021347
21757   0.000070       0.000020          0.411971  2.490908e-02      0.020082
21758   0.004317       0.006717          0.410466  1.000000e+00      1.000000

       Total Recovered  Total Active Cases  Total Regencies  Total Districts  \
0         9.986166e-06            0.003962         0.000000         0.000000
1         9.986166e-06            0.003966         0.000000         0.000000
2         0.000000e+00            0.004004         1.000000         1.000000
3         7.306950e-07            0.003999         0.021687         0.017395
4         9.986166e-06            0.003969         0.000000         0.000000
...                ...                 ...              ...              ...
21754     8.175503e-03            0.004162         0.024096         0.017673
21755     2.133751e-02            0.004160         0.026506         0.018787
21756     1.384180e-02            0.004063         0.028916         0.027414
21757     2.510205e-02            0.004165         0.057831         0.056499
21758     1.000000e+00            0.017367         1.000000         1.000000

       Area (km2)  Population  Population Density  Longitude  Latitude  \
0        0.000000    0.038549            1.000000   0.237537  0.191938
1        0.000000    0.038549            1.000000   0.237537  0.191938
2        1.000000    1.000000            0.007948   0.407098  0.611484
3        0.045067    0.020510            0.003749   0.117136  0.712270
4        0.000000    0.038549            1.000000   0.237537  0.191938
...           ...         ...                 ...        ...       ...
21754    0.006903    0.007536            0.011122   0.660773  0.770219
21755    0.021578    0.018413            0.007521   0.085066  0.606760
21756    0.047451    0.028613            0.004969   0.173719  0.423464
21757    0.037739    0.053779            0.011958   0.051248  0.842443
21758    1.000000    1.000000            0.007948   0.407098  0.611484

       New Cases per Million  Total Cases per Million  New Deaths per Million  \
0                   0.000134                 0.000045                 0.00000
1                   0.000134                 0.000047                 0.00000
2                   0.000007                 0.000000                 0.00000
3                   0.000119                 0.000004                 0.00000
4                   0.000134                 0.000050                 0.00000
...                      ...                      ...                     ...
21754               0.000564                 0.164946                 0.00000
21755               0.000534                 0.204349                 0.00000
21756               0.000363                 0.091557                 0.00000
21757               0.000200                 0.089490                 0.00000
21758               0.000682                 0.201520                 0.00047

       Total Deaths per Million  Total Deaths per 100rb
0                      0.001199                0.001173
1                      0.001199                0.001173
2                      0.000000                0.000000
3                      0.000000                0.000000
4                      0.001199                0.001173
...                         ...                     ...
21754                  0.260571                0.260561
21755                  0.254182                0.254172
21756                  0.243621                0.243611
21757                  0.126612                0.126597
21758                  0.353642                0.353651

[21759 rows x 19 columns]

In [16]:
X = df_scaled

In [17]:
#Train_test_split the Data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(16319, 19)
(5440, 19)
(16319,)
(5440,)

In [18]:
pipeline = Pipeline([
    ('std_scalar', StandardScaler())
])

X_train = pipeline.fit_transform(X_train)
X_test = pipeline.transform(X_test)

In [19]:
# PREDICT DATA, MODELLING & PERFORMANCE EVALUATION 
def predict_model(model, trainX, testX, trainY, testY):
    m = model
    m.fit(trainX, trainY)
    predict_m = m.predict(testX)
    print('-----------{}-----------'.format(model))
    print_evaluate(testY, predict_m)
    
def print_evaluate(true, predicted):  
    mae = metrics.mean_absolute_error(true, predicted)
    mse = metrics.mean_squared_error(true, predicted)
    rmse = np.sqrt(metrics.mean_squared_error(true, predicted))
    r2_square = metrics.r2_score(true, predicted)
    print('MAE:', mae)
    print('MSE:', mse)
    print('RMSE:', rmse)
    print('R2 Square', r2_square)
    print('__________________________________')

In [20]:
model = [LinearRegression(), SVR(), DecisionTreeRegressor()]
for i in model:
    predict_model(i, X_train,X_test, y_train, y_test)

-----------LinearRegression()-----------
MAE: 1.020707048294365e-12
MSE: 2.444194491589716e-24
RMSE: 1.5633919827061018e-12
R2 Square 1.0
__________________________________
-----------SVR()-----------
MAE: 8.177667901618134
MSE: 5078.393016983847
RMSE: 71.26284457544371
R2 Square 0.1440433787798252
__________________________________
-----------DecisionTreeRegressor()-----------
MAE: 0.8630514705882353
MSE: 69.76378676470588
RMSE: 8.352471895475368
R2 Square 0.9882414033331142
__________________________________

In [21]:
#Computing Variable Importance
model=DecisionTreeRegressor()
 
model.fit(X,y)

feature_importances=pd.DataFrame({'features':X.columns,'feature_importance':model.feature_importances_})
best_features = feature_importances.sort_values('feature_importance',ascending=False)
best_features.head()

                  features  feature_importance
6       Total Active Cases            0.698082
1            New Recovered            0.152259
16  New Deaths per Million            0.109467
4             Total Deaths            0.017285
5          Total Recovered            0.007123

In [22]:
result = pd.concat([X, y], axis=1)
display(result)

,New Cases,New Recovered,New Active Cases,Total Cases,Total Deaths,Total Recovered,Total Active Cases,Total Regencies,Total Districts,Area (km2),Population,Population Density,Longitude,Latitude,New Cases per Million,Total Cases per Million,New Deaths per Million,Total Deaths per Million,Total Deaths per 100rb,New Deaths
0,0.000035,0.000000,0.411955,8.925967e-06,0.000139,9.986166e-06,0.003962,0.000000,0.000000,0.000000,0.038549,1.000000,0.237537,0.191938,0.000134,0.000045,0.00000,0.001199,0.001173,0
1,0.000035,0.000000,0.411955,9.395754e-06,0.000139,9.986166e-06,0.003966,0.000000,0.000000,0.000000,0.038549,1.000000,0.237537,0.191938,0.000134,0.000047,0.00000,0.001199,0.001173,0
2,0.000035,0.000000,0.411955,2.348939e-07,0.000000,0.000000e+00,0.004004,1.000000,1.000000,1.000000,1.000000,0.007948,0.407098,0.611484,0.000007,0.000000,0.00000,0.000000,0.000000,0
3,0.000018,0.000000,0.411939,2.348939e-07,0.000000,7.306950e-07,0.003999,0.021687,0.017395,0.045067,0.020510,0.003749,0.117136,0.712270,0.000119,0.000004,0.00000,0.000000,0.000000,0
4,0.000035,0.000000,0.411955,9.865542e-06,0.000139,9.986166e-06,0.003969,0.000000,0.000000,0.000000,0.038549,1.000000,0.237537,0.191938,0.000134,0.000050,0.00000,0.001199,0.001173,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21754,0.000035,0.000000,0.411955,8.154105e-03,0.007341,8.175503e-03,0.004162,0.024096,0.017673,0.006903,0.007536,0.011122,0.660773,0.770219,0.000564,0.164946,0.00000,0.260571,0.260561,0
21755,0.000070,0.000000,0.411987,2.110474e-02,0.014959,2.133751e-02,0.004160,0.026506,0.018787,0.021578,0.018413,0.007521,0.085066,0.606760,0.000534,0.204349,0.00000,0.254182,0.254172,0
21756,0.000070,0.000000,0.411987,1.407860e-02,0.021347,1.384180e-02,0.004063,0.028916,0.027414,0.047451,0.028613,0.004969,0.173719,0.423464,0.000363,0.091557,0.00000,0.243621,0.243611,0
21757,0.000070,0.000020,0.411971,2.490908e-02,0.020082,2.510205e-02,0.004165,0.057831,0.056499,0.037739,0.053779,0.011958,0.051248,0.842443,0.000200,0.089490,0.00000,0.126612,0.126597,0
21758,0.004317,0.006717,0.410466,1.000000e+00,1.000000,1.000000e+00,0.017367,1.000000,1.000000,1.000000,1.000000,0.007948,0.407098,0.611484,0.000682,0.201520,0.00047,0.353642,0.353651,8

In [24]:
result.to_csv('Covid_Data_Preprocessed.csv', index = "False")